.sidebar-container {
  position: fixed;
  top: 8rem;
  left: 0;
  bottom: 0;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 1.5rem;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sell-item-btn {
  margin-bottom: 2rem;
}
