.pill-btn {
  width: 120px;
  height: 38px;
  background-color: var(--color-primary);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease;
}

.pill-btn:hover {
  background-color: var(--color-primary);
  color: grey;
}
